<template>
    <v-row dense>
        <v-hover v-for="i in news" v-slot="{ hover }" v-bind:key="i.link">
            <v-card :href="i.link" target="_blank" class="mx-auto my-2 d-flex flex-column" width="400"
                :elevation="hover ? 2 : 1" :class="{ 'on-hover': hover }">
                <v-card-title style="word-break: break-word;">
                    <v-row no-gutters>
                        <v-col cols="3">
                            <img style="max-width:64px; max-height: 64px; min-width:64px; max-width: 64px;" alt=""
                                :src="'https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&size=128&url='+i.source_url">
                        </v-col>
                        <v-col cols="9">
                            [[ i.title ]]
                        </v-col>
                    </v-row>

                </v-card-title>
                <v-card-text>
                    <div>
                        [[ i.source_name ]]
                    <br>
                        [[ i.published ]]
                    <br>
                    <v-icon>
                        mdi-tag-outline
                    </v-icon>
                        <v-chip outlined color="deep-purple accent-4" v-for="j in i.tags" v-bind:key="j.key">
                            [[ j.value ]]
                        </v-chip>
                    <br>
                        [[ i.topic ]]
                    </div>

                </v-card-text>

                <v-card-actions class="mt-auto">
                    <v-row>
                        <v-col>
                            <v-btn dark @click="link = [[ i.link ]]; entry_id = [[ i.entry_id ]]; source_url = [[ i.source_url ]]" @click.prevent="mark_unimportant" text
                                elevation="2" color="red darken-4">
                                <v-icon left>
                                    mdi-thumb-down
                                </v-icon>
                                Dismiss
                            </v-btn>
                        </v-col>
                        <v-col class="text-right">
                            <v-btn dark @click="link = [[ i.link ]]; entry_id = [[ i.entry_id ]]; source_url = [[ i.source_url ]]" @click.default="mark_important" text elevation="2"
                                color="green darken-3">
                                <v-icon left>
                                    mdi-thumb-up
                                </v-icon>
                                Save
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-card-actions>
            </v-card>
        </v-hover>
    </v-row>
</template>