<!DOCTYPE html>
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="static/styles.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>



<body>
  <div id="vm">
    <v-app>
      <v-main>

        {% include 'menubar.html' %}

        {% include 'articles.html' %}

        {% include 'snackbar.html' %}

      </v-main>

    </v-app>
  </div>
  <script src="static/vue.js"></script>
  <script src="static/vuetify.js"></script>
  <script src="static/axios.min.js"></script>
  <script src="static/index.js"></script>

</body>

</html>