<template>
    <div>
        <v-app-bar color="deep-purple accent-4" dense dark>
            <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
            <v-toolbar-title>pynewsreader</v-toolbar-title>

            <!-- <v-spacer></v-spacer>
            {% include 'feed_dialog.html' %} -->
            <v-spacer></v-spacer>
            <v-btn
              icon onclick="window.open('https://github.com/radinplaid/pynewsreader','_blank')"
            >
              <v-icon>mdi-github-circle</v-icon>
            </v-btn>

        </v-app-bar>

        <v-navigation-drawer v-model="drawer" absolute temporary app width="300">
            <v-row>
                <v-col>
                    <p class="mx-2 my-2 text-h5">Settings</p>
                </v-col>
                <v-col>
                    <v-btn class="mx-2 my-2" style="float: right;" fab dark x-small color="primary"
                        @click="drawer = false">
                        <v-icon dark>
                            mdi-close
                        </v-icon>
                    </v-btn>
                </v-col>
            </v-row>


            <template>
                <v-select label="Feeds" v-model="category" :items="categories"
                    clearable multiple>
                    <template v-slot:selection="{ item, index }">
                        <v-chip v-if="index === 0">
                            <span>[[ item ]]</span>
                        </v-chip>
                        <span v-if="index === 1" class="grey--text text-caption">
                            (+[[ category.length - 1 ]] others)
                        </span>
                    </template>
                </v-select>
            </template>

            <template>
                <v-switch class="mx-2" v-model="important_switch" label="Show Only Important"
                    ></v-switch>
            </template>

            <template>
                <v-switch class="mx-2" v-model="unread_switch" label="Show Only Unread" ></v-switch>
            </template>

            <template>
                <v-text-field class="mx-2" v-model="limit"  label="Limit" type="number"
                    i.limit></v-text-field>
            </template>

            <template>
                <v-dialog ref="dialog" v-model="modal" :return-value.sync="dates" persistent width="290px">
                    <template v-slot:activator="{ on, attrs }">
                        <v-text-field v-model="dates" label="Date Range" prepend-icon="mdi-calendar" readonly
                            v-bind="attrs" v-on="on"></v-text-field>
                    </template>
                    <v-date-picker v-model="dates" scrollable range >
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="modal = false">
                            Cancel
                        </v-btn>
                        <v-btn text color="primary" @click="$refs.dialog.save(dates)">
                            OK
                        </v-btn>
                    </v-date-picker>
                </v-dialog>
            </template>

            <template>
                <v-text-field  filled prepend-inner-icon="mdi-magnify" solo name="search"
                    v-model.lazy="search" placeholder="Search"></v-text-field>
            </template>

            <template>
                <v-btn prepend-icon="mdi-refresh" variant="tonal" v-on:click="update">
                    Update Feeds
                </v-btn>
            </template>

            <template>
                <v-btn prepend-icon="mdi-refresh" variant="tonal" v-on:click="filter">
                    Apply Filters
                </v-btn>
            </template>
        </v-navigation-drawer>


    </div>
</template>